@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
}
.container {
  width: 80%;
  margin: 0 auto;
  &__firstpart {
    display: flex;
    margin-bottom: 25px;
    &__list {
      margin: 40px 340px 10px 195px;
    }
    & li {
      color: #737373;
    }
    & h3 {
      margin-bottom: 15px;
    }
    button {
      width: 150px;
      margin: 45px 195px;
      padding: 10px 35px;
      border-radius: 8px;
      border: 1px solid #23a6f0;
      background-color: #23a6f0;
      color: white;
    }
  }

  &__secondpart {
    display: flex;
    margin-bottom: 25px;
    margin-left: 195px;
    &__list {
      margin-right: 60px;
      margin-bottom: 25px;
    }
    & li {
      color: #737373;
      line-height: 25px;
    }
    & h3 {
      margin-bottom: 25px;
    }
  }
  &__thirdpart {
    display: flex;
    position: relative;
    bottom: 0;
    left: 1100px;
  }
  & img {
    margin-right: 20px;
  }
}
